$bg: #212223;
$fg: #f1f1f1;
$accent: #378DF7;
$radius: 7px;

window.Bar {
  border: none;
  box-shadow: none;
  background-color: $bg;
  color: $fg;
  font-family: "Firacode Nerd Font";
  font-size: 1.0em;
  font-weight: bold;

  #workspaces {
    margin: 0 2px;
    padding: 2px;
    background-color: $bg;
    border-radius: $radius;

    button {
      all: unset;
      min-width: 0;
      padding: 4px 10px;
      margin: 2px;
      color: $fg;
      border-radius: $radius;
      background-color: transparent;

      &:hover {
        color: $bg;
        background-color: $fg;
        box-shadow: 0 0 0 1px lighten($bg, 10%);
      }

      &.active {
        color: $bg;
        background-color: $fg;
        box-shadow: 0 0 0 1px lighten($bg, 10%);
      }

      &.urgent {
        color: $bg;
        background-color: #f38ba8;
        box-shadow: 0 0 0 1px lighten($bg, 10%);
      }
    }
  }

  #custom-updates,
  #cpu,
  #memory,
  #battery,
  #bluetooth,
  #wireplumber,
  #network,
  #clock,
  #tray,
  #window,
  #custom-power {
    margin: 0 4px;
    padding: 6px 12px;
    background-color: $bg;
    color: $fg;
    border-radius: $radius;

    &.warning,
    &.critical,
    &.urgent,
    &.charging {
      background-color: $bg;
      color: $fg;
    }
  }

  #battery {
    margin: 0 2px 0 0;
    padding: 0 12px;
  }

  #bluetooth {
    margin: 0 0 0 2px;
  }

  tooltip {
    background-color: $bg;

    label {
      padding: 4px;
      color: $fg;
    }
  }
}
