@use "sass:color";

$bg: #0c0c0c;
$fg: #f5e0dc;
$accent: #f5e0dc;
$radius: 7px;

window.Bar {
  font-family: "Firacode Nerd Font";
  border: none;
  box-shadow: none;
  background-color: $bg;
  color: $fg;
  font-size: 1em;
  font-weight: bold;

  .Left {
    margin-left: 0.5em;
    button {
      all: unset;
      background-color: $bg;

      &:hover label {
        background-color: $fg;
        color: $bg;
      }
    }

    label {
      transition: 200ms;
      padding: 4px 10px;
      margin: 2px;
      border-radius: $radius;
    }

    .Workspaces {
      margin: 0 2px 0 2px;
      padding: 2px;
      .focused label {
        background-color: $fg;
        color: $bg;
      }
    }
    .Focused {
      color: $accent;
    }
  }

  .Right {
    all: unset;
    margin-right: 0.5em;

    .SysTray {
      button {
        all: unset;
        margin: 0 0.3em 0 0.3em;
        &:nth-child(1) {
          margin-left: 0;
        }

        &:nth-last-child(1) {
          margin-right: 0.5em;
        }
      }
    }

    .UpdatesIcon {
      margin: 0 0.4em 0 0.4em;
    }

    .SysMenu {
      border-radius: $radius * 3;
      padding: 0 0.4em 0 0.4em;
      margin: 0.3em 0.4em 0.3em 0.4em;
      background-color: color.adjust($bg, $lightness: 5%);

      & * {
        all: unset;
        padding: 0.2em 0.1em 0.2em 0.1em;
      }
    }
  }
}
