@use "sass:color";
@use "../../theme.scss" as *;

window.Bar {
  font-family: $font;
  border: none;
  box-shadow: none;
  background-color: $bg;
  color: $fg;
  font-size: 0.9em;
  font-weight: bold;

  .Left {
    margin: 0.3em 0 0.3em 0.5em;
    button {
      all: unset;
      background-color: $bg;

      &:hover label {
        background-color: $fg;
        color: $bg;
      }
    }

    label {
      transition: 200ms;
      padding: 4px 10px;
      margin: 2px;
      border-radius: $radius;
    }

    .LauncherIcon {
      font-size: 1.5em;
      padding-right: 0.3em;
    }

    // workspaces style copied from https://github.com/AndreasHGK/mithril-shell/,
    // an amazing hyprland shell based on Gnome shell style
    // thanks <3!!!
    .WorkspacesContainer {
      box {
        border-radius: $radius * 3;
        padding: 0 0em 0 0em;
        margin: 0 0em 0 0.2em;
        background-color: $bg;
        transition: background-color 0.22s ease;
      }
      &:hover {
        box {
          background-color: color.adjust($bg, $lightness: 5%);
        }
      }

      // & * {
      //   padding: 0.2em 0.1em 0.2em 0.1em;
      // }

      .Workspaces {
        padding-top: 1.1em;
        padding-bottom: 1.1em;
        padding-left: 0.5em;
        padding-right: 0.5em;

        > * + * {
          margin-left: 0.5em;
        }

        .Workspace {
          border-radius: 9999px;

          transition-property: min-width, background-color;
          transition-timing-function: cubic-bezier(0.13, 0.99, 0.29, 1);
          transition-duration: 200ms;

          min-height: 0.6em;
          min-width: 0.6em;

          margin-bottom: -0.2em;
          margin-top: -0.2em;

          background-color: color.mix($bg, $fg, 50%);
        }
        .FocusedWorkspace {
          min-height: 0.4em;
          min-width: 1.8em;

          margin-bottom: -0.4em;
          margin-top: -0.4em;

          background-color: $fg;
        }
        .ActiveWorkspace {
          background-color: $accent;
        }
      }

      .FocusedClient {
        color: $accent;
      }
    }
  }

  .Right {
    all: unset;
    margin: 0.3em 0.5em 0.3em 0;

    .SysTray {
      button {
        all: unset;
        margin: 0 0.3em 0 0.3em;
        &:nth-child(1) {
          margin-left: 0;
        }

        &:nth-last-child(1) {
          margin-right: 0.5em;
        }
      }
    }

    .UpdatesIcon {
      font-family: "Firacode Nerd Font";
      margin: 0 0.4em 0 0.4em;
    }

    .SysMenu {
      box {
        border-radius: $radius * 3;
        background-color: $bg;
        padding: 0.2em 0.2em 0.2em 0.2em;
        margin: 0 0em 0 0.2em;
        transition: background-color 0.22s ease;
      }
      &:hover {
        box {
          background-color: color.adjust($bg, $lightness: 5%);
        }
      }
      & * {
        padding: 0.2em 0 0.2em 0;
        background-color: transparent;
      }

      .NetworkIcon {
        margin-left: 0.5em;
      }

      .Time {
        margin: 0 0.5em 0 0.8em;
      }
    }
  }
}
