@use "../../theme.scss" as *;
@use "sass:color";

.OSD,
.osd {
  background: transparent;
  icon {
    font-size: 16px;
    margin-left: 16px;
  }
}

.indicator .progress {
  padding: 0px;

  border-radius: 100px;
  margin-bottom: 20px;
  background-color: color.adjust($bg, $alpha: -0.2);
  .fill {
    transition: background-color 3s ease-in-out;
    border-radius: 100px;
    background-color: $accent;
    color: #caa6f7;
    transition: min-width 0.1s;
    &.muted {
      background-color: $bg;
      color: $fg;
    }
  }
}
